[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
regex = "*"
requests = "*"
selenium = "*"
numpy = "*" 
pandas = "*"
openpyxl = "*"
ipykernel = "*"
luigi = "*"
prefect = {extras = ["viz"], version = "*"}

[requires]
python_version = "3.8"
